<ion-nav-view>

    <ion-nav-bar class="bar-energized">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-title>
          About Us
      </ion-nav-title>
      <!--<ion-nav-buttons side="right">
        <button ng-controller="SigninCtrl" class="button button-energized" ng-click="clicked2()">
          {{LoginTitle}}
        </button>
    </ion-nav-buttons>-->
      <ion-nav-buttons side="left">
          <button ng-controller="AppCtrl" class="button button-energized button-clear" ng-click="pageBackButton()"><i class="ion-chevron-left button-clear"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>

<ion-view>
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <ion-content padding="true" class="has-header has-tabs">
      <img src="https://www.valpo.edu/university-programming-council/files/2018/05/join-us.png" width=100% height="auto">
<h4>Looking to get involved on campus?</h4>

<p>Well, look no further than University Programming Council! UPC is the Chicago bus trip leading, laughter inducing, Homecoming orchestrating, leadership inspiring, Valpo After Dark hosting, festival conducting, movie projecting, concert coordinating, Midnight Brunch managing, inexhaustible and irrepressible source of a good time on the Valparaiso University campus! We put together over 80 events each year!</p>
<p>So don’t waste your time doing laundry or eating balanced meals! Come together with some of VU’s best and brightest to program activities that will make everyone’s stay here a heck of a lot more fun! Devote a little time and gain useful experience in fields as diverse as our events! It’s a great way to meet people, learn leadership skills, and recommended by four out of five dentists for their patients who attend VU!</p>


<h4>Our Exec Team</h4>

<p>Our Executive team consists of 10 undergraduate student of various backgrounds! Each has a unique role in making the programming board operate! From the president operating the budget to the productions chair setting up sound equipment to the graphic designers creating the posters- we work together to make the fun happen all year long!</p>

<ul>
	<li>President</li>
	<li>Vice President</li>
	<li>Sound & Event Production</li>
	<li>Graphic Design</li>
	<li>Public Relations</li>
	<li>Trips & Off-Campus Programs</li>
	<li>Special Events (We have 2!)</li>
	<li>Concert & Entertainment</li>
	<li>Campus Traditions</li>
</ul>

<h4>Our Committee Members</h4>

<p>We welcome all students to be a part of the fun and to join UPComing Leaders program and UPC committee. These students can be as involved in the planning, marketing, and execution of each event as they would like to be. We always need fresh ideas and faces to keep things running and provide lots of great leadership opportunities to anyone interested in expanding their horizons!

</p>
</ion-content>
</ion-view>
</ion-nav-view>
