<ion-nav-view>

    <ion-nav-bar class="bar-energized">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-title>
          Crusader Perks
      </ion-nav-title>
      <ion-nav-buttons side="left">
          <button class="button button-energized button-clear" ng-click="pageBackButton()"><i class="ion-chevron-left button-clear"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>
<ion-view>
	<ion-content padding ="true">
		<h1>Crusader Perks</h1>
 <h2>You've attended {{countCEvents()}} events </h2>
   <p>
        <strong>How it works?</strong> Come to ANY UPC event and get your card punched (along with select athletic events)! After only 9 punches you can turn your card in for a variety of prizes!
    </p>
    <p>
        <strong>What are the prizes? </strong>Well it depends!
    </p>
    <ul>
        <li>If you turn it in at a movie, you will get a free soda & candy!</li>
        <li>You’ll be entered for a monthly prize drawing in the month you turn your perks card in</li>
        <li>Every turned in perks card will also enter you for a GRAND SEMESTER PRIZE!</li>
    </ul>
</div>
  </ion-content>
</ion-view>
