<ion-view>
  <ion-nav-title>Crusader Perks</i></ion-nav-title>
  <ion-content padding="true">
    <h1>Crusader Perks</h1>
    <img src="https://www.valpo.edu/university-programming-council/files/2018/08/Screen-Shot-2018-08-28-at-6.34.58-PM-1024x544.png"/>
    <p>
         Crusader Perks Cars is Valparaiso Universities student body’s loyalty card! You can pick one up from the UPC office or at our next event!
    </p>
    <p>
        <strong>How it works?</strong> Come to ANY UPC event and get your card punched (along with select athletic events)! After only 9 punches you can turn your card in for a variety of prizes!
    </p>
    <p>
        <strong>What are the prizes? </strong>Well it depends!
    </p>
    <ul>
        <li>If you turn it in at a movie, you will get a free soda & candy!</li>
        <li>You’ll be entered for a monthly prize drawing in the month you turn your perks card in</li>
        <li>Every turned in perks card will also enter you for a GRAND SEMESTER PRIZE!</li>
    </ul>
    <p>
        <strong>Monthly Prizes:</strong>
    </p>
    <p>
        <strong>Grand Semester Prizes:</strong>
    </p>
  </ion-content>
</ion-view>
