<ion-nav-view>

    <ion-nav-bar class="bar-energized">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-title>
          Crusader Perks
      </ion-nav-title>
      <ion-nav-buttons side="left">
          <button controller="AppCtrl" class="button button-energized button-clear" ng-click="pageBackButton()"><i class="ion-chevron-left button-clear"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>

<ion-view>
  <ion-content padding="true" class="has-header has-tabs">
      <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <img src="https://www.valpo.edu/university-programming-council/files/2018/08/Screen-Shot-2018-08-28-at-6.34.58-PM-1024x544.png"/ height="auto" width=100%>

	<ion-list>
	<ion-item ng-if="signedIn" class="item-royal item-icon-right">
		<h2>You've attended {{countCEvents()}} event(s) </h2>
	<i class = icon ion-information-circled></i>
	</ion-item>
	</ion-list>

    <p>
         Crusader Perks Card is Valparaiso Universities student body’s loyalty card! You can pick one up from the UPC office or at our next event!
    </p>
    <p>
        <strong>How it works?</strong> Come to ANY UPC event and check-in on the event page on this app (along with select athletic events)! After only 9 punches you can turn your card in for a variety of prizes!
    </p>
    <p>
        <strong>What are the prizes? </strong>Well it depends!
    </p>
    <ul>
        <li>If you turn it in at a movie, you will get a free soda & candy!</li>
        <li>You’ll be entered for a monthly prize drawing in the month you turn your perks card in</li>
        <li>Every turned in perks card will also enter you for a GRAND SEMESTER PRIZE!</li>
    </ul>
    </ion-content>
</ion-view>
</ion-nav-view>
