<ion-view>
  <ion-nav-title>Crusader Perks</i></ion-nav-title>
  <ion-content padding="true">

<h1>Family Weekend</h1>

<img class="" src="http://www.valpo.edu/university-programming-council/files/2018/09/familyweekend.png" alt="" width="820" height="312" srcset="https://www.valpo.edu/university-programming-council/files/2018/09/familyweekend.png 820w, https://www.valpo.edu/university-programming-council/files/2018/09/familyweekend-300x114.png 300w, https://www.valpo.edu/university-programming-council/files/2018/09/familyweekend-768x292.png 768w, https://www.valpo.edu/university-programming-council/files/2018/09/familyweekend-722x275.png 722w, https://www.valpo.edu/university-programming-council/files/2018/09/familyweekend-450x171.png 450w" sizes="(max-width: 820px) 100vw, 820px">

<p>We are so excited to welcome family & friends to campus for Family Weekend 2019! Dates to be announced soon! There will be signature events throughout the weekend and many more that families can choose to attend.</p>

<p>Are you a university department or student group sponsoring an event for families & guest to attend? Register your event<a href="">here</a> to be included in the Family Weekend schedule!</p>


</ion-content>
</ion-view>
