<html>

<head></head>

<body>

<h1>Homecoming</h1>

<img class="" src="http://www.valpo.edu/university-programming-council/files/2019/01/Homecoming-2018.png" alt="Homecoming 2019 Friday, Sept 27 - Sunday Sept. 29 More information coming soon" width="784" height="295" srcset="https://www.valpo.edu/university-programming-council/files/2019/01/Homecoming-2018.png 784w, https://www.valpo.edu/university-programming-council/files/2019/01/Homecoming-2018-300x113.png 300w, https://www.valpo.edu/university-programming-council/files/2019/01/Homecoming-2018-768x289.png 768w, https://www.valpo.edu/university-programming-council/files/2019/01/Homecoming-2018-722x272.png 722w, https://www.valpo.edu/university-programming-council/files/2019/01/Homecoming-2018-450x169.png 450w" sizes="(max-width: 784px) 100vw, 784px">

<h4>Homecoming Schedule</h4>

<p>The week of Homecoming 2019 events will take place Monday, September 23 – Sunday, September 29. More information to come later.</p>

<h4>Homecoming Packet</h4>

<p>Teams must register by Monday, September 16, 2019. Please fill out the <a href="">team registration form</a>.</p>

<p>For detailed information on the week-long competition and events please visit the Homecoming Packet.</p>

<h4>Homecoming Court & Voting</h4>

<p><big>Candidate and voting information will be made available on Monday, September 23.</big></p>

<p><big>Be sure to vote for Homecoming Court by noon on Friday, September 27. Only current undergraduate students can vote, and you must be logged into your student valpo account. Any votes from non-current students or from non student email accounts will be discarded.</big></p>

<h3>Vote Here</h3>

<h4>Queen Nominees</h4>


<p><strong>Name: </strong></p>

<p><strong>Team:</strong></p>

<p><strong>Hometown: </strong></p>

<p><strong>Major:</strong></p>

<p><strong>Graduating:</strong></p>

<p><strong>How have you completed 20 hours of community service in the last 6 months?</strong></p>

<p><strong>What does school spirit mean to you? How do you promote it around campus?</strong></p>

<p><strong>What is one goal you would like to accomplish in your lifetime and why?</strong></p>

<p><strong>Why should your classmates vote for you? Why should you represent Valparaiso University as this years Homecoming King/Queen?</strong></p>

<h4>King Nominees</h4>

<p><strong>Name: </strong></p>

<p><strong>Team:</strong></p>

<p><strong>Hometown: </strong></p>

<p><strong>Major:</strong></p>

<p><strong>Graduating:</strong></p>

<p><strong>How have you completed 20 hours of community service in the last 6 months?</strong></p>

<p><strong>What does school spirit mean to you? How do you promote it around campus?</strong></p>

<p><strong>What is one goal you would like to accomplish in your lifetime and why?</strong></p>

<p><strong>Why should your classmates vote for you? Why should you represent Valparaiso University as this years Homecoming King/Queen?</strong></p>



</body>

</html>