<html>

<head></head>

<body>

<h1>Join Our Team</h1>

<h2>We want you to join UPC!</h2>

<p>So you want to help make the fun happen? Great – we have tons of ways for someone to join the UPC team! Take a look below to see the three different ways you can join UPC. There is no previous experience required, if you are new to UPC or event planning we recommend you take a look at our committee and event assistant roles!</p>

<h4>Committee</h4>

<p>Joining the committee gives you an introduction of what it is like to be on UPC. We have five different committees that you can choose to be part of! These committee focus on a very specific element of UPC and allow you to work one on one with our officers responsible for that area. Depending on the committee you will be involved in everything from brainstorming to planning and running events. See our different committees below:</p>

<p><strong>Marketing:</strong> This committee will work with the Marketing Executive team to promote events, manage social media, and community relations.</p>

<p><strong>Traditions</strong> (Welcome Week, Homecoming, Family Weekend): This committee will work with our Campus Traditions Chair on all major campus traditions events like Welcome Week, Homecoming, Family Weekend, Songfest, and many more! This committee will help plan, run, and create new spins on old traditions!.</p>

<p><strong>Movies:</strong> Love movies? This is the committee for you. This committee will be all about the films – they will help choose the line-up and run them!</p>

<p><strong>Programming:</strong> This committee will help our programming team. You will work specifically with our special events and late night chairs to come up with innovative programs to bring to the campus!!</p>

<p><strong>Valpo Vibes</strong> (Spring only, Concert): This committee will help our Entertainment & Concert Chair with planning the details of the concert. They will help ensure all the details are planned out and we are creating an amazing music festival feel for Valpo Vibes. *Will have to have been part of UPC for 1 semester before being considered for this committee</p>

<p>If you are interested in joining a UPC committee email <a href="">upc.vp@valpo.edu</a></p>

<h4>Event Assistant</h4>

<p>Event Assistant positions help run events. These roles get access to the UPC office, are invited to training, and get some UPC swag! However, you do not have the same time commitments as the executive board officers. In this position you would have the opportunity to sign-up to help run specific events and/or focus on a function of UPC. The Programming Team would send out an event sign-up list every so often and you would have the opportunity to sign-up to help run the events they are planning. If interested you would potentially have the opportunity to help plan the event as well! Additionally, the UPC Leadership Team will send out specific roles that need to be filled (i.e. Office Coordinator, Trips Coordinator, Films Coordinator, etc.) and you can have opportunities to take that on. <a href="">Apply now to join our team</a>!</p>

<h3>Executive Board Positions:</h3>

<p>Applications are now closed for the 2018-19 Executive Board, and will re-open Spring 2019.</p>

<h4>President</h4>

<p>Responsible for providing oversight and direction to the council. Works closely with each executive board position to ensure that chairpersons are fulfilling their roles. This position works to ensure UPC is fulfilling its mission, vision, and yearly goals. The president will develop and implement a member development plan for the year for both the executive board and general members. This position is responsible for the overall financial management of the organization, relationship with Student Senate & University administration, and the completion of all necessary paperwork.</p>

<h4>Vice President</h4>

<p>Responsible for the recruitment, retention, and member experience of all executive board and general members. This includes tracking recruitment and retention efforts throughout the year, providing team bonding opportunities, and presentation of information about UPC at university events. This position will work closely with all chairpositions to ensure that coordinators and committee positions are filled. The Vice President will work closely with the President and Advisor to provide leadership and membership development.</p>

<h4>Concert & Entertainment Chair</h4>

<p>Responsible for all movies, comedians, variety acts, and musical performers, including the spring concert. The Concert & Entertainment Chair will work to ensure that UPC is bringing a wide-variety of performers to campus. This includes variety of genres, diversity of performers, and balances upcoming and traditional performers. This position will work closely with contracts and agents to ensure event success and will work closely with the Marketing Team. Must be highly motivated, professional, and detail oriented. This position will also be required to attend the National Association for Campus Activities Regional Conference in November to schedule UPComing acts on campus.</p>

<h4>Campus Traditions Chair</h4>

<p>Responsible for the traditional events on campus such as Welcome Week, Homecoming Week, WinterFest, Finals Fest(Spring Week), Family Weekend, Breakfast After Dark (2 times a year), and Songfest. This position will be required to sit on the Homecoming steering committee and to work with other departments/student organizations as chair of a Homecoming sub-committee. This position will also oversee a Spirit & Athletics Coordinator with the goal of increasing school spirit. Must be highly motivated, creative, an effective delegator, and detail oriented.</p>

<h4>Late Night & Special Events (2 positions)</h4>

<p>Responsible for the Valpo After Dark series, Game shows (i.e. monthly Bingo & Trivia), and other monthly special event programming. These positions will work to provide events that are fun, entertaining, and engaging to the student body. This person will work with contracts and agencies, primarily for attractions. Must be highly motivated, pay great attention to details, be able to delegate, and problem solve quickly and creatively.</p>

<h4>Community Outreach Chair</h4>

<p>Responsible for the overall outreach efforts of UPC which includes, social media presence, partnerships with local/national businesses, getting give-a-ways, partnering with other student organizations on events we’re already hosting or creating new events to host with them. This positions primary responsibility is the image of UPC. This position is a member of the Marketing Team and as such is expected to coordinate the public relations presence of UPC. Additionally, this position is responsible for planning the appx. four off-campus programs (i.e. baseball trip, Chicago shopping trip, Haunted House, etc).</p>

<h4>Marketing Chair</h4>

<p>Responsible for the graphic design and promotional responsibilities of ALL UPC events and programming. The two people occupying this team will need to work together to split the responsibilities. There is an expectation that the two people filling this role have at least minimal experience with designing posters, flyers, and shirt designs. Must be highly motivated, creative, and have an ability to pay attention to detail.</p>

<h4>SOund & Event Productions Chair</h4>

<p>Responsible for the sound, lighting and tech needs of UPC events. Additionally, be in charge of the management/rental of all UPC equipment. This position is required to set-up and take down sound for events, research additional equipment that would be beneficial to UPC, and manage the check out and return of all UPC equipment. This position will also lead the Productions Team (committee) which includes recruiting, training, and running productions at events. Should have experience with sound equipment and lighting and pay close attention to detail..</p>



</body>

</html>