<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programs & Events</title>
</head>
<body>
    <h1>Programs & Events</h1>
    <p>
        Fall 2018 calendar coming soon!
    </p>
    <p>
        Be sure to add our google calendar for the most up-to-date information!
    </p>
    <p>
        <strong>Valpo UPC</strong>
    </p>
    <p>
        <i>Insert Google Calendar here.</i>
    </p>
</body>
</html>
