<html>

<head></head>

<body>

<h1>Rental Equipment</h1>


<p>Please fill out this <a href="">form</a> in order to use our rental equipment for your event!</p>

<p>For larger venues (e.g. events on the West Lawn or in the Ballrooms), please e-mail <a href="">upc.productions@valpo.edu</a> to discuss the proper audio solution for your event. When renting out a speaker system, you must pay the productions chair $10 per hour for their services (this includes set up and tear down time).</p>

<p>Here is complete list outlining our rental equipment:</p>

<table dir="ltr" style="height: 858px" border="1" width="478" cellspacing="0" cellpadding="0">
<colgroup>
<col width="320"></colgroup>
<tbody>
<tr>
<td style="text-align: left"><strong>Sound Systems</strong></td>
</tr>
<tr>
<td>Yamaha PA System</td>
</tr>
<tr>
<td>Portable CD Player</td>
</tr>
<tr>
<td>Speaker Stands</td>
</tr>
<tr>
<td>Wireless Handheld Microphones</td>
</tr>
<tr>
<td>JBL speaker system (larger events) ($50 rental fee)</td>
</tr>
<tr>
<td><strong>Wii Console and Accessories</strong></td>
</tr>
<tr>
<td>Game System (inc. instruction manual)</td>
</tr>
<tr>
<td>Wii U (inc. HDMI cable)</td>
</tr>
<tr>
<td>Controllers x 2</td>
</tr>
<tr>
<td>Nunchuk Accessory x 2</td>
</tr>
<tr>
<td>Controllers x 4</td>
</tr>
<tr>
<td><strong>Wii Games</strong></td>
</tr>
<tr>
<td>Wii Sports</td>
</tr>
<tr>
<td>Mario Kart</td>
</tr>
<tr>
<td>Smash Bros: Brawl</td>
</tr>
<tr>
<td>Guitar Hero: World Tour</td>
</tr>
<tr>
<td>Rock Band + AC/DC Live</td>
</tr>
<tr>
<td>Sing Party (Karaoke: inc. USB mic x 2)</td>
</tr>
<tr>
<td>NES Remix (Wii U)</td>
</tr>
<tr>
<td><strong>Xbox 360</strong></td>
</tr>
<tr>
<td>Game System</td>
</tr>
<tr>
<td>Kinect System</td>
</tr>
<tr>
<td>Controller x 1</td>
</tr>
<tr>
<td>Controllers x 2</td>
</tr>
<tr>
<td><strong>Xbox 360 Games</strong></td>
</tr>
<tr>
<td>Just Dance 3 (Kinect Required)</td>
</tr>
<tr>
<td>Kinect Adventures (Kinect Required)</td>
</tr>
<tr>
<td>Wipeout</td>
</tr>
<tr>
<td><strong>Food Preparation Machines</strong></td>
</tr>
<tr>
<td>Cotton Candy ($10 rental fee)</td>
</tr>
<tr>
<td>Snow Cones ($10 rental fee)</td>
</tr>
<tr>
<td>Popcorn ($10 rental fee)</td>
</tr>
<tr>
<td><strong>Game and Other Items</strong></td>
</tr>
<tr>
<td>Board Games (assortment)</td>
</tr>
<tr>
<td>Tug of War Rope</td>
</tr>
<tr>
<td>Spin Art Machines</td>
</tr>
<tr>
<td>Other: Potato Sacks</td>
</tr>
<tr>
<td><strong>Life Size Board Games</strong></td>
</tr>
<tr>
<td>Scrabble</td>
</tr>
<tr>
<td>Chess</td>
</tr>
</tbody>
</table>

</body>

</html>