<ion-nav-view>

    <ion-nav-bar class="bar-energized">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-title>
          Rental Equipment
      </ion-nav-title>

      <ion-nav-buttons side="left">
          <button class="button button-energized button-clear" ng-click="pageBackButton()"><i class="ion-chevron-left button-clear"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>

<ion-view>
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <ion-content padding="true" class="has-header has-tabs">
      <img src="http://www.valpo.edu/university-programming-council/files/2018/05/Rental-Equip.png" width=100% height="auto">
      <p>Please fill out this <b ng-click="form()">form</b> in order to use our rental equipment for your event!</p>

      <p>For larger venues (e.g. events on the West Lawn or in the Ballrooms), please e-mail <b
              ng-click="productionsEmail()">upc.productions@valpo.edu</b> to discuss the proper audio solution for your event. When renting out
          a speaker system, you must pay the productions chair $10 per hour for their services (this includes set up and
          tear down time).</p>
  
      <p>Here is complete list outlining our rental equipment:</p>
  
      <ion-list>
          <ion-item class="item-divider item-icon-right"><b>Sound Systems</b> 
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Yamaha PA System
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Portable CD Player
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Speaker Stands
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Wireless Handheld Microphones
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              JBL speaker system (larger events) ($50 rental fee)
          </ion-item>
          <ion-item class="item-divider item-icon-right"><b>Wii Console and Accessories</b> 
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Game System (inc. instruction manual)
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Wii U (inc. HDMI cable)
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Wii Remote & Nunchuk x 2 
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Controllers x 4
          </ion-item>
          <ion-item class="item-divider item-icon-right"><b>Wii Games</b> 
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Wii Sports
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Mario Kart
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Smash Bros: Brawl
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Guitar Hero: World Tour
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Rock Band + AC/DC Live
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              Sing Party (Karaoke: inc. USB mic x 2)
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
              NES Remix (Wii U)
          </ion-item>
        </ion-list>
        <ion-item class="item-divider item-icon-right"><b>Xbox 360</b> 
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Game System
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Kinect System
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Controller x 1
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Controllers x 2
        </ion-item>
        <ion-item class="item-divider item-icon-right"><b>Xbox 360 Games</b> 
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Just Dance 3 (Kinect Required)
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Kinect Adventures (Kinect Required)
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Wipeout
        </ion-item>
        <ion-item class="item-divider item-icon-right"><b>Food Preparation Machines</b> 
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Cotton Candy ($10 rental fee)
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Snow Cones ($10 rental fee)
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Popcorn ($10 rental fee)
        </ion-item>
        <ion-item class="item-divider item-icon-right"><b>Game and Other Items</b> 
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Board Games (assortment)
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Tug of War Rope
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Spin Art Machines
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Other: Potato Sacks
        </ion-item>
        <ion-item class="item-divider item-icon-right"><b>Life Size Board Games</b> 
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Scrabble
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading">
            Chess
        </ion-item>
        

</ion-content>
</ion-view>
</ion-nav-view>
