<ion-view>
  <ion-nav-title>UPC Calendar</ion-nav-title>
  <ion-content padding="true">
    <h1>UPC Calendar</h1>
    <p>
        <strong>upc@valpo.edu</strong>
    </p>


    <h3>Upcoming Events</h3>
    <ion-list>
    <ion-item class="item-icon-right  item-royal" ui-sref="event({id: $index})"
    ng-repeat="place in cal | orderBy: start.dateTime | limitTo: 20"
    ng-init="place.start.dateTime= dateFormat2(place)">

          <h2>{{place.summary}}</h2>
          <p class="light">
            <b>{{place.location}}</b> <br>
            {{place.start.date}} {{place.end.date}}
            {{place.start.dateTime}}
          </p>


          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>




</ion-content>
</ion-view>
