<ion-nav-view>

  <ion-nav-bar class="bar-energized">
    <!--<ion-nav-back-button></ion-nav-back-button>-->
    <ion-nav-title>
      UPC Calendar
    </ion-nav-title>
   
    <ion-nav-buttons side="left">
      <button class="button button-energized button-clear" ng-click="pageBackButton()"><i
          class="ion-chevron-left button-clear"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-view>

    <ion-content padding="true" class="has-header has-tabs">
      <h3>Upcoming Events</h3>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type='text' ng-model='searchText' placeholder="Search for an Event" />
      </label>
      <br />
      <img src="https://www.valpo.edu/university-programming-council/files/2018/05/Programs.png" height="auto"
        width=100% />

      <ion-list>
        <!-- don't order by index, it messes up the search -->
        <ion-item class="item-icon-right  item-royal" ui-sref="event({id: place.$id})"
          ng-repeat="place in cal | orderBy : sortDate : true | limitTo: 30 | filter:searchText | filter:upcomingEvents"
          ng-init="place.start.dateTime= dateFormat2(place)">
          <h2>{{place.summary}}</h2>
          <p class="light">
            <b>{{place.location}}</b> <br>
            {{place.start.dateTime}}
          </p>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>


      <ion-item class="item-icon-right item-avatar item-royal" ui-sref="event({id:$index})"
        ng-repeat='place in places | filter:searchText | limitTo: 10'>
        <img ng-src="{{place.image}}">
        <h2>{{place.name}}</h2>
        <p class="light">
          <b>{{place.city}}</b> <br>
          {{place.room}} - {{place.street}}
        </p>


        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      </ion-list>

    </ion-content>
  </ion-view>
</ion-nav-view>