<html>

<head></head>

<body>

<h1>Welcome Week</h1>

<img class="" src="http://www.valpo.edu/university-programming-council/files/2018/05/Want-to-make-the-Fun-Happen.png" alt="" width="828" height="315" srcset="https://www.valpo.edu/university-programming-council/files/2018/05/Want-to-make-the-Fun-Happen.png 828w, https://www.valpo.edu/university-programming-council/files/2018/05/Want-to-make-the-Fun-Happen-300x114.png 300w, https://www.valpo.edu/university-programming-council/files/2018/05/Want-to-make-the-Fun-Happen-768x292.png 768w, https://www.valpo.edu/university-programming-council/files/2018/05/Want-to-make-the-Fun-Happen-722x275.png 722w, https://www.valpo.edu/university-programming-council/files/2018/05/Want-to-make-the-Fun-Happen-450x171.png 450w" sizes="(max-width: 828px) 100vw, 828px">



<p>Welcome to Valpo! UPC is looking forward to welcoming everyone to campus, whether it is back to campus or you are joining us for the first time, with a week filled of FUN!</p>

<p>You can see the full welcome week schedule <a href="">here</a>. Below we have highlighted all the events that UPC is sponsoring during Welcome Week & first few weeks of school! We look forward to seeing you all there!</p>

<p>Welcome Week 2019 will take place from Saturday, August 17 – Saturday, August 24!.</p>



</body>

</html>