<ion-view ng-int="load()">

  <ion-nav-title>Event</ion-nav-title>


  <ion-content padding="true">
    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">




      <h4><span class="name"> </span><b></b> <small></small></h4>

      <h3 style="text-align:center">{{summary}}</h3>
      <div class="text-center">

        <br>
        <button class=" button button-royal" ng-click="addEvent()">Add <i class=" ion-plus-round"></i></button>
        <br>
        <br>
      </div>

      <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar class="bar-energized">
      <h1 class="title">Choose a Location</h1>
      <button class="button button-clear ion-close-round" ng-click="closePopover()"></button>
    </ion-header-bar>
    <ion-content>

        <ion-list>
          <!-- don't order by index, it messes up the search -->
          <ion-item class="item-icon-right  item-royal" ng-click="alterLocation(location)"
          ng-repeat="location in possibleLocations">
          
              {{location}}
          
        <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-list>


    </ion-content>
  </ion-popover-view>
</script>

      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Address</b> <i class="icon ion-information-circled"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-disabled="loading" ng-click="map()">
          {{setAddress()}}<br>
          <i class="icon ion-map"></i>
        </ion-item>
        <br />
        <ion-list>
          <ion-item class="item-divider item-icon-right"><b>Location</b> <i class="icon ion-location"></i>
            
          </ion-item>
          <ion-item class="item-icon-right" ng-disabled="loading">
            {{location}}<br>
          </ion-item>

        </ion-list>
        <br>
        <ion-list>
          <ion-item class="item-divider item-icon-right"><b>Dates & Time</b> <i
              class="icon ion-ios-calendar-outline"></i>
            
          </ion-item>
          <ion-item>
            <!-- {{place.start.dateTime}} -->
            {{formatedDay}}<br>
            {{formatedTime}}{{dateEnd}}
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-item class="item-divider item-icon-right"><b>Contact</b> <i class="icon ion-chatboxes"></i>
            </ion-item>
          <ion-item class="item-icon-right" ng-click="call()">
            (219) 464-5415 ex.5194
            <i class="icon ion-android-call"></i>
          </ion-item>
          <ion-item class="item-icon-right" ng-click="mail()">
            upc@valpo.edu
            <i class="icon ion-ios-email"></i>
          </ion-item>
          <ion-item class="item-icon-right" ng-click="website()">
            Visit our homepage
            <i class="icon ion-ios-home"></i>
          </ion-item>
        </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>

    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>