<ion-view ng-int="load()">
  <ion-nav-title>Profile</ion-nav-title>
  <ion-content padding="true">
    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">


      <h3>{{name}}</h3>

      <h4><span class="name"> </span><b></b> <small></small></h4>
      <br>

      <div class="text-center">
        <img ng-src="{{photoUrl}}" class="image">

      </div>

      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Info</b> <i class="icon ion-information-circled"></i>
        </ion-item>
        <ion-item>
          {{ name}}<br>

        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Events</b> <i class="icon ion-ios-calendar-outline"></i>
        </ion-item>
        <ion-item ng-repeat="event in userEvents | orderBy : sortDate : true | limitTo: 5">
          {{event.summary}}
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Contact</b> <i class="icon ion-chatboxes"></i></ion-item>
        <ion-item class="item-icon-right" ng-click="mail()">
          {{email}}
          <i class="icon ion-ios-email"></i>
        </ion-item>

      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">



    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>