<ion-view>

  <ion-nav-title>
      Valparaiso University <i class="icon ion-ios-location"></i>
  </ion-nav-title>
  <ion-content padding="true" class="has-header has-tabs">
          <div class="list card" ui-sref="calendar()">
              <div class="item item-divider" align="center">
                  <h2>Programs & Events</h2>
              </div>
              <div class="item item-body">
                  <img class="full-image" src="https://www.valpo.edu/university-programming-council/files/2018/05/Programs.png">
              </div>
          </div>

              <div class="list card" ui-sref="perks()">
                  <div class="item item-divider" align="center">
                      <h2>Crusader Perks</h2>
                  </div>
                  <div class="item item-body">
                      <img class="full-image" src="https://www.valpo.edu/university-programming-council/files/2018/08/Screen-Shot-2018-08-28-at-6.34.58-PM.png">
                  </div>
              </div>

              <div class="list card" ui-sref="about()">
                  <div class="item item-divider" align="center">
                      <h2>About Us</h2>
                  </div>
                  <div class="item item-body">
                      <img class="full-image" src="https://www.valpo.edu/university-programming-council/files/2018/05/join-us.png">
                  </div>
              </div>

      <div class="row">

      </div>


  </ion-content>
</ion-view>
