<ion-nav-view>

    <ion-nav-bar class="bar-energized">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-title>
          Search Other Users
      </ion-nav-title>
      <ion-nav-buttons side="right">
        <button ng-controller="SigninCtrl" class="button button-energized" ng-click="clicked2()">
          {{LoginTitle}}
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
          <button ng-controller="AppCtrl" class="button button-energized button-clear" ng-click="pageBackButton()"><i class="ion-chevron-left button-clear"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>

<ion-view>
  <ion-nav-title>Search Other Users</ion-nav-title>
  <ion-toolbar>
      <ion-buttons slot="primary">
          Hello
      </ion-buttons>
  </ion-toolbar>
  <ion-content padding="true" class="has-header has-tabs">
      <h3>Search for your friends to see what events they are going to.</h3>

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type='text' ng-model='searchText' placeholder="Search for a User " />
    </label>
    <h3>People</h3>
    <ion-list>
      <ion-item class="item-icon-right item-avatar item-royal" ui-sref="profile({id: user.uid})"
        ng-repeat='user in googleUsers | filter:searchText | limitTo: 10'>
        <img ng-src="{{user.photoUrl}}">
        <h2>{{user.name}}</h2>
        <p>

        </p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

  </ion-content>
</ion-view>
<ion-item>
</ion-nav-view>
