<ion-nav-view>
  <ion-nav-bar class="bar-energized">
    <!--<ion-nav-back-button></ion-nav-back-button>-->
    <ion-nav-title>
      Admin Settings
    </ion-nav-title>

    <ion-nav-buttons side="left">
      <button class="button button-energized button-clear" ng-click="pageBackButton()"><i
          class="ion-chevron-left button-clear"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-view class="has-header has-tabs">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-content padding="true" class="has-header has-tabs">

      <ion-list>
        <ion-item ng-if="admin" class="item-royal item-icon-right" ui-sref="roles()">
          <h2>Roles</h2>
          <i class="icon ion-person-stalker"></i>
        </ion-item>

        <ion-item ng-if="admin" class="item-royal item-icon-right" ui-sref="manageEvents()">
          <h2>Manage Events</h2>
          <i class="icon ion-edit"></i>
        </ion-item>

      </ion-list>

    </ion-content>
  </ion-view>
</ion-nav-view>
</ion-view>