<ion-nav-view>
    <ion-nav-bar class="bar-energized">
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <ion-nav-title>
          Manage Events
      </ion-nav-title>
      
      <ion-nav-buttons side="left">
          <button class="button button-energized button-clear" ng-click="adminBackButton()"><i class="ion-chevron-left button-clear"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>
<ion-view>
    <ion-content padding="true" class="has-header has-tabs">

        <h3>Events</h3>

        <button ng-controller="SigninCtrl" class=" button button-energized" ng-click="sync2()">Sync Calendar</button>
        <br>
        <br>
        <ion-list>
            <!-- don't order by index, it messes up the search -->
            <ion-item class="item-icon-right  item-royal" ui-sref="editEvent({id: place.$id})"
                ng-repeat="place in cal | orderBy : sortDate : true | limitTo: 30 | filter:searchText | filter:upcomingEvents"
                ng-init="place.start.dateTime= dateFormat2(place)">
                <h2>{{place.summary}}</h2>
                <p class="light">
                    <b>{{place.location}}</b> <br>
                    {{place.start.dateTime}}
                </p>
                <ion-option-button class="button-royal" ui-sref="editEvent({id: place.$id})"><i class="icon ion-wrench"></i>
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteEvent(place.$id)"><i
                        class="icon ion-trash-a"></i></ion-option-button>

                <i class="icon ion-ios-arrow-left"></i>
            </ion-item>





    </ion-content>
</ion-view>
</ion-nav-view>
