<ion-nav-view>

  <ion-nav-bar class="bar-energized">
    <!--<ion-nav-back-button></ion-nav-back-button>-->
    <ion-nav-title>
      Profile
    </ion-nav-title>

  </ion-nav-bar>

  <ion-view ng-int="load()">
    <ion-content padding="true" class="has-header has-tabs">
      <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
      <div class="text-center">
        <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
      </div>
      <div ng-show="!loading">


        <h3>{{name}}</h3>

        <h4><span class="name"> </span><b></b> <small></small></h4>
        <br>

        <div class="text-center">
          <img ng-src="{{photoUrl}}" class="image">
        </div>

        <ion-list>
          <ion-item class="item-divider item-icon-right"><b>Events</b> <i class="icon ion-ios-calendar-outline"></i>
          </ion-item>
          <ion-item ng-repeat="event in userEvents | orderBy : sortDate : true | limitTo: 10 | filter: upcomingEvents"
            class="item-icon-right" >
            {{event.summary}} <i class="icon ion-ios-arrow-left"></i>
            <ion-option-button class="button-assertive" ng-click="deleteEvent(event.$id)"><i
                class="icon ion-trash-a"></i></ion-option-button>

          </ion-item>
          <br>

          <ion-item class="item-divider item-icon-right"><b>Recently Attended Events</b> <i
              class="icon ion-checkmark"></i>
          </ion-item>
          <ion-item ng-repeat="event in checkedEvents | orderBy : sortDateAscending : true | limitTo: 10"
            class="item-icon-right">
            {{event.summary}}


          </ion-item>

        </ion-list>
        <br>
        <ion-list>
          <ion-item class="item-divider item-icon-right"><b>Contact</b> <i class="icon ion-chatboxes"></i></ion-item>
          <ion-item class="item-icon-right" ng-click="mail()">
            {{email}}
            <i class="icon ion-ios-email"></i>
          </ion-item>

        </ion-list>
      </div>
    </ion-content>

  </ion-view>
</ion-nav-view>