<ion-view ng-int="load()">
  <ion-nav-title>Profile</ion-nav-title>
  <ion-content padding="true" class="has-header has-tabs">
    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">


      <h3>{{name}}</h3>

      <h4><span class="name"> </span><b></b> <small></small></h4>
      <br>

      <div class="text-center">
        <img ng-src="{{photoUrl}}" class="image">
      </div>

      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Update</b> <i class="icon ion-edit"
            ng-click="updateName(newName)"></i></ion-item>
        <br>
        <label class="item item-input">
          <input type="text" placeholder="New Name" ng-model='newName'>
        </label>
        <br>
        <button class="button button-royal" ng-click="updateName(newName)"> Update </button>

        <br>
        <br>
        <ion-list>
          <ion-item class="item-divider item-icon-right"><b>Events</b> <i class="icon ion-ios-calendar-outline"></i>
          </ion-item>
          <ion-item ng-repeat="event in userEvents | orderBy : sortDate : true" class="item-icon-right" ui-sref="userEvent({id: event.$id})">
            {{event.summary}} <i class="icon ion-ios-arrow-left"></i>
            <ion-option-button class="button-assertive" ng-click="deleteEvent(event.$id)"><i
              class="icon ion-trash-a"></i></ion-option-button>

        </ion-item>
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-item class="item-divider item-icon-right"><b>Contact</b> <i class="icon ion-chatboxes"></i></ion-item>
          <ion-item class="item-icon-right" ng-click="mail()">
            {{email}}
            <i class="icon ion-ios-email"></i>
          </ion-item>

        </ion-list>
        <br />
        <button class="button button-royal" ng-if="admin" ng-click=""> Change Colors </button>
    </div>
  </ion-content>

</ion-view>
